.homepage-container {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    overflow:auto;
    scrollbar-width: none;
  }

.stories {
    width: 70%; 
}

.stories-container {
    width: 100%;
    height:auto;
    position: sticky;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    scrollbar-width: none;
    z-index: 1;
}

.stories-container::-webkit-scrollbar {
  display: none;
}

.homepage-container::-webkit-scrollbar {
  display: none;
}

.posts-container::-webkit-scrollbar {
  display: none;
}

.mainpage-container::-webkit-scrollbar {
  display: none;
}

.posts-container::webkit-scrollbar {
  display: none;
}

/* STORY */

.story {

  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 7.5%;
}

.story-image-container {
    all: initial;
  width: 3.5vw;
  height: 3.5vw;
}

.story-image {
  width: 100%;
  height: 100%;
  border: 2px solid #653f26;
  border-radius: 100%;
}

.story-username {
  font-family: "PT Sans Bold";
  font-size: 1vw;
  color: #000;
  margin-top: 10px;
}

.horizontal-line {
  width: 800px;
  height: 2px;
  background-color: #d6c8b8;
  margin-top: 10px;
}

.posts-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.post {
  display: flex;
  align-self: center;
  width: 70%;
  margin-top: 10px;
  flex-direction: column;
}

.post-header {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
}

.post-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  margin-left: 5px;
}

.post-header-image {
  width: 40px;
  height: 40px;
}

.post-header-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.post-header-username {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #281c19;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0px;
}

.ellipse {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #d6c8b7;
  align-self: flex-start;
  margin-top: 33px;
  margin-left: 10px;
  margin-right: 11px;
}

.post-header-location {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #281c19;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0px;
}

.post-header-time {
  align-self: flex-start;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  color: #281c19;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post-image {
  align-self: center;
  width: 100%;
  margin-bottom: 10px;
}

.like-comment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.like-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

.like-image {
  width: 1.25vw;
  height: 1.25vw;
  margin-right: 5px;
}

.like-by {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 19px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comment-number-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-number {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 19px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comment-image {
  margin-left: 5px;
  width: 1.25vw;
  height: 1.25vw;
}

.comment-container {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  margin-left: 1px;
  margin-top: 10px;
  text-align: justify;
}

.comment-username {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 26px;

  color: #281c19;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 5px;
}

.comment {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 26px;

  color: #281c19;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}

.see-more {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 19px;

  color: #532500;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

@media (max-width: 768px) {
    .stories {
        width: 90%; 
    }
    .homepage-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 0px;
        overflow:auto;
        scrollbar-width: none;
      }
      
      .stories-container {
          width: 100%;
          height: fit-content;
          overflow: auto;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          scrollbar-width: none;
      }
      
      .stories-container::-webkit-scrollbar {
        display: none;
      }
      
      .homepage-container::-webkit-scrollbar {
        display: none;
      }
      
      .posts-container::-webkit-scrollbar {
        display: none;
      }
      
      .mainpage-container::-webkit-scrollbar {
        display: none;
      }
      
      .posts-container::webkit-scrollbar {
        display: none;
      }
      
      /* STORY */
      
      .story {
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 7.5%;
      }
      
      .story-image-container {
        width: 9vw;
        height: 9vw;
      }
      
      .story-image {
        width: 100%;
        height: 100%;
        border: 2px solid #653f26;
        border-radius: 100%;
      }
      
      .story-username {
        font-family: "PT Sans Bold";
        font-size: 2vw;
        color: #000;
        margin-top: 10px;
      }
      
      .horizontal-line {
        width: 100%;
        height: 2px;
        background-color: #d6c8b8;
        margin-top: px;
      }
      
      .posts-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }
      
      .post {
        display: flex;
        align-self: center;
        width: 85%;
        margin-top: 10px;
        flex-direction: column;
      }
      
      .post-header {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
        height: fit-content;
      }
      
      .post-header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: flex-start;
        margin-left: 5px;
      }
      
      .post-header-image {
        width: 40px;
        height: 40px;
      }
      
      .post-header-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 16px;
      }
      
      .post-header-username {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 3vw;
        line-height: 2vw;
        color: #281c19;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0px;
      }
      
      .ellipse {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: #d6c8b7;
        align-self: flex-start;
        margin-top: 33px;
        margin-left: 10px;
        margin-right: 11px;
      }
      
      .post-header-location {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        line-height: 23px;
        color: #281c19;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0px;
      }
      
      .post-header-time {
        align-self: flex-start;
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 3vw;
        line-height: 26px;
        text-align: center;
      
        color: #281c19;
      
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      
      .post-image {
        align-self: center;
        width: 100%;
        margin-bottom: 5px;
      }
      
      .like-comment-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      
      .like-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5px;
      }
      
      .like-image {
        width: 3.5vw;
        height: 3.5vw;
        margin-right: 5px;
      }
      
      .like-by {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 19px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      
      .comment-number-container {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      
      .comment-number {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 2.5vw;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      
      .comment-image {
        margin-left: 5px;
        width: 3.5vw;
        height: 3.5vw;
      }
      
      .comment-container {
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        margin-left: 1px;
        margin-top: 0px;
        text-align: justify;
      }
      
      .comment-username {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 20px;
      
        color: #281c19;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      
        margin-bottom: 0px;
      }
      
      .comment {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 15px;
      
        color: #281c19;
      
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 0px;
      }
      
      .see-more {
        font-family: "PT Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 2.25vw;
        line-height: 15px;
      
        color: #532500;
      
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      
        cursor: pointer;
      }
}
